<!DOCTYPE html>
{% extends 'base.html' %}

{%block title%}収入削除{%endblock%}
{% block content %}
{% load humanize %}
<div class="card">
    <h5 class="card-header">収入詳細</h5>
    <div class="card-body">

        <p class="card-text">月：{{ object.date }}<br>
            カテゴリー：{{ object.category }}<br>
            金額：{{ object.price|intcomma }}<br>
            摘要：{{ object.description }}
        </p>
    </div>
</div>
<h3>本当に削除しますか？</h3>
<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" id="del">本当に削除する</button>
    <a href="{% url 'list-income' %}" class="btn btn-primary">一覧へ</a>
</form>
{% endblock content %}