<!DOCTYPE html>
{% extends '../base.html' %}

{% block content %}
<h1>支出</h1>
<table class="table mt-3" id="payment">
    <tr>
        <th class="a">日付</th>
        <th class="b">カテゴリ</th>
        <th class="c">金額</th>
        <th class="d">摘要</th>
        <th class="e">リンク</th>
    </tr>
    {% for item in object_list %}
    <tr>
        <td>{{ item.date|date:"Y-m" }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.description }}</td>
        <td><a href="{% url 'detail-payment' item.pk %}">詳細へ</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock%}